<div *ngIf="isLoading; else elseBlock">
  <div class="auth-loader-container">
    <app-loader></app-loader>
  </div>
</div>
<ng-template #elseBlock>
    <p-dataTable #dt [value]="games" [rows]="10" [paginator]="true" exportFilename="Games" >
        <p-header>
            <div class="ui-helper-clearfix">
                <button type="button" pButton icon="fa-file-o" iconPos="left" 
                label="All Data" (click)="dt.exportCSV()" style="float:left"></button>
            </div>
        </p-header>
        <p-column field="symbol" header="Symbol" sortable="true"></p-column>
        <p-column field="type" header="Type"></p-column>
        <p-column field="quantity" header="Quantity"></p-column>
        <p-column field="time_frame" header="Time Frame"></p-column>
        <p-column field="date_in" header="Date In">
            <ng-template let-col let-g="rowData" pTemplate="body">
                <span>{{g[col.field]|moment}}</span>
            </ng-template>
        </p-column>
        <p-column field="neto" header="Neto"></p-column>
        <p-column field="netoCmm"  header="NetoCmm"></p-column>
        
    </p-dataTable>
  <!-- <div class="margin-bottom-xs b-game-list-sorting">
    <app-sorting [data]="games"
                 [elements]="[
               {name: 'symbol', displayName: 'Symbol'},
               {name: 'strategie', displayName: 'Strategie'},
               {name: 'time_frame', displayName: 'Time Frame'},
               {name: 'type', displayName: 'Type'}
               ]" (sortedData)="setData($event)">
    </app-sorting>
  </div>

  <div class="b-game-list">
    <table class="table table-striped table-hover " >
      <thead>
      <tr>
        <th>Symbol</th>
        <th>Type</th>
        <th>Quantity</th>
        <th>Time Frame</th>
        <th>Date In</th>
        <th>Neto</th>
        <th>NetoCmm</th>
        <th>Acción</th>
      </tr>
      </thead>
      <tbody *ngFor="let game of games">
      <tr class="info">
        <td>
          <a routerLink="/private/edit/{{game._id}}">
            {{ game.symbol | uppercase}}
          </a>
        </td>
        <td>{{ game.type }}</td>
        <td>{{ game.quantity }}</td>
        <td>{{ game.time_frame }}</td>
        <!--se puede enviar solo moment y retorna la fecha por defecto Oct 5, 2017 1:29 AM-->
        <!--<td>{{ game.date_in | moment}}</td>
        <td>{{ game.neto}}</td>
        <td>{{ game.netoCmm }}</td>
        <td>
          <a
            mwlConfirmationPopover
            title="Delete Game"
            message="Esta seguro de eliminar: {{ game.symbol }}"
            confirmText="SI"
            cancelText="NO"
            placement="top"
            (confirm)="onDeleteGame(game)"
            (cancel)="cancelClicked"
            confirmButtonType="primary"
            cancelButtonType="default">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
      </tr>


      </tbody>

    </table>
  </div> -->

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-2 col-md-offset-10 margin-top-sm">
      <div class="b-btn-new-game overflow-hidden">
        <button class="btn btn-primary pull-right" [routerLink]="['/private/new']">
          Nuevo Juego
        </button>
      </div>
    </div>
  </div>

</ng-template>






