<div *ngIf="isLoading; else elseBlock">
  <div class="auth-loader-container">
    <app-loader></app-loader>
  </div>
</div>
<ng-template #elseBlock>
  <div class="alert alert-dismissible alert-success" *ngIf="!alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p><strong>R {{_authS.user.r}}</strong></p>
    <p><strong>Max Perdida Semanal {{_authS.user.max_loss_w}}</strong> Cantidad perdido {{perdido}}</p>
    <p><strong>Meta Semanal {{_authS.user.goal_w}}</strong> Cantidad Ganado {{ganado}}</p>
    <p><strong>Aun puedes Operar!!</strong></p>
  </div>
  <div class="alert alert-dismissible alert-danger" *ngIf="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p><strong>R {{_authS.user.r}}</strong></p>
    <p><strong>Max Perdida Semanal {{_authS.user.max_loss_w}}</strong> Cantidad perdido {{perdido}}</p>
    <p><strong>Meta Semanal {{_authS.user.goal_w}}</strong> Cantidad Ganado {{ganado}}</p>
    <p><strong>No puedes Operar mas!!</strong></p>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal">
    <fieldset>
      <div formGroupName="find">
        <div class="form-group" [ngClass]="{'has-error': isRequired('date_in')}">
          <label for="date_in" class="control-label">Fecha Inicio</label>
          <div >
            <p-calendar id="date_in" formControlName="date_in"
                        [showIcon]="true"></p-calendar>
            <span class="help-block" *ngIf="isRequired('date_in')">
              Fecha entrada requerida
            </span>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': isRequired('date_out')}">
          <label for="date_out" class="control-label">Fecha Final</label>
          <!-- <input id="date_out" formControlName="date_out" class="form-control"> -->
          <div>
            <p-calendar id="date_out" formControlName="date_out"
                        [showIcon]="true"></p-calendar>
            <span class="help-block" *ngIf="isRequired('date_out')">
                Fecha Salida requerido
              </span>
          </div>
        </div>
      </div>
      <div class="form-group margin-top-sm">
        <button
          type="submit" class="btn btn-primary" [disabled]="form.invalid">Buscar
        </button>
        <button routerLink="/private/home" class="btn btn-primary"
                title="Regresar">Limpiar
        </button>
      </div>
    </fieldset>
  </form>

    <p-dataTable #dt [value]="games" [rows]="10" [paginator]="true" exportFilename="Games" >
        <p-header>
            <div class="ui-helper-clearfix">
                <button type="button" pButton icon="fa-file-o" iconPos="left"
                label="All Data" (click)="dt.exportCSV()" style="float:left"></button>
            </div>
        </p-header>
        <p-column field="symbol" header="Symbol" sortable="true">
            <ng-template let-col let-g="rowData" pTemplate="body">
                <a routerLink="/private/edit/{{g._id}}" >
                  {{ g[col.field] | uppercase}}
                </a>
            </ng-template>
        </p-column>
        <p-column field="type" header="Type"></p-column>
        <p-column field="quantity" header="Quantity"></p-column>
        <p-column field="time_frame" header="Time Frame"></p-column>
        <p-column field="date_in" header="Date In">
            <ng-template let-col let-g="rowData" pTemplate="body">
                <span>{{g[col.field]|moment}}</span>
            </ng-template>
        </p-column>
        <p-column field="neto" header="Neto"></p-column>
        <p-column field="netoCmm"  header="NetoCmm"></p-column>
        <p-column field="symbol" header="Actions">
          <ng-template let-col let-g="rowData" pTemplate="body">
            <a routerLink="/private/edit/{{g._id}}" >
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            -
            <a
              mwlConfirmationPopover
              title="Delete Game"
              message="Esta seguro de eliminar: {{g[col.field]}}"
              confirmText="SI"
              cancelText="NO"
              placement="top"
              (confirm)="onDeleteGame(g)"
              (cancel)="cancelClicked"
              confirmButtonType="primary"
              cancelButtonType="default">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </ng-template>

        </p-column>

    </p-dataTable>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-2 col-md-offset-10 margin-top-sm">
      <div class="b-btn-new-game overflow-hidden">
        <button class="btn btn-primary pull-right" [routerLink]="['/private/new']">
          Nuevo Juego
        </button>
      </div>
    </div>
  </div>

</ng-template>






