<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal">
    <fieldset>
      <legend>{{userName}}</legend>
    <div formGroupName="bitacora">
      <div class="form-group" [ngClass]="{'has-error': isRequired('date_in')}">
        <label for="date_in" >Fecha Entrada</label>
        <input id="date_in" formControlName="date_in" class="form-control" (keyup)="onKey($event)">
        <span class="help-block" *ngIf="isRequired('date_in')">
          Fecha entrada requerida
        </span>
      </div>

      <div class="form-group" [ngClass]="{'has-error': isRequired('quantity')}">
        <label for="quantity">Cantidad Acciones/Opciones</label>
        <input id="quantity" formControlName="quantity" class="form-control">
        <span class="help-block" *ngIf="isRequired('quantity')">
          Cantiadad de Acciones/Opciones requerido
        </span>
      </div>

      <div class="form-group" [ngClass]="{'has-error': isRequired('type')}">
        <label for="type">Tipo Entrada</label>
        <input id="type" formControlName="type" class="form-control">
        <span class="help-block" *ngIf="isRequired('type')">
          Tipo Entrada requerido
        </span>
      </div>

      <div class="form-group" [ngClass]="{'has-error': isRequired('price_in')}">
        <label for="price_in">Precio Entrada</label>
        <input type="number" id="price_in" formControlName="price_in" class="form-control">
        <span class="help-block" *ngIf="isRequired('price_in')">
          Precio Entrada requerido
        </span>
      </div>

      <div class="form-group" [ngClass]="{'has-error': isRequired('time_frame')}">
        <label for="time_frame">Marco de Tiempo</label>
        <input id="time_frame" formControlName="time_frame" class="form-control">
        <span class="help-block" *ngIf="isRequired('time_frame')">
          Marco de Tiempo requerido
        </span>
      </div>

      <div class="form-group" [ngClass]="{'has-error': isRequired('price_out')}">
        <label for="price_out">Precio Salida</label>
        <input id="price_out" formControlName="price_out" class="form-control">
        <span class="help-block" *ngIf="isRequired('price_out')">
          Precio Salida requerido
        </span>
      </div>

      <div class="form-group" [ngClass]="{'has-error': isRequired('date_out')}">
        <label for="date_out">Fecha Salida</label>
        <input id="date_out" formControlName="date_out" class="form-control">
        <span class="help-block" *ngIf="isRequired('date_out')">
          Fecha Salida requerido
        </span>
      </div>

      <div class="form-group" [ngClass]="{'has-error': isRequired('commission')}">
        <label for="commission">Comisión</label>
        <input id="commission" formControlName="commission" class="form-control">
        <span class="help-block" *ngIf="isRequired('commission')">
          Comisión requerido
        </span>
      </div>

      <div class="form-group" [ngClass]="{'has-error': isRequired('comments')}">
        <label for="comments">Comentarios</label>
        <textarea rows="3" id="comments" formControlName="comments" class="form-control"></textarea>
        <span class="help-block" *ngIf="isRequired('comments')">
          Comentario requerido
        </span>
      </div>

      <div class="form-group" [ngClass]="{'has-error': isRequired('symbol')}">
        <label for="symbol">Símbolo</label>
        <input id="symbol" formControlName="symbol" class="form-control">
        <span class="help-block" *ngIf="isRequired('symbol')">
          Símbolo requerido
        </span>
      </div>

      <div class="form-group" [ngClass]="{'has-error': isRequired('strategie')}">
        <label for="strategie">Estrategia</label>
        <input id="strategie" formControlName="strategie" class="form-control">
        <span class="help-block" *ngIf="isRequired('strategie')">
          Estrategia
        </span>
      </div>

      <!--<div class="form-group">
        <label for="neto">Neto</label>
        <input id="neto" disabled="false" formControlName="neto" class="form-control">
      </div>

      <div class="form-group">
        <label for="netoCmm">Neto con Comisión</label>
        <input id="netoCmm" disabled="false" formControlName="netoCmm" class="form-control">
      </div>

      <div class="form-group">
        <label for="r">Neto</label>
        <input id="r" disabled="false" formControlName="r" class="form-control">
      </div>-->

    </div>
    <div class="form-group margin-top-sm">
      <button
        type="submit" class="btn btn-primary" [disabled]="form.invalid">Guardar
      </button>
    </div>
    <pre>
      {{ form.value | json }}
    </pre>
    </fieldset>
  </form>
</div>
