<div *ngIf="isLoading; else elseBlock">
  <div class="auth-loader-container">
    <app-loader></app-loader>
  </div>
</div>
<ng-template #elseBlock>
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal">
      <fieldset>
        <div formGroupName="find">
          <div class="form-group">
            <label for="date_in" class="control-label">Fecha Inicio</label>
            <div >
              <p-calendar id="date_in" formControlName="initial"
                          [showIcon]="true"></p-calendar>
            </div>
          </div>

          <div class="form-group">
            <label for="date_out" class="control-label">Fecha Final</label>
            <div>
              <p-calendar id="date_out" formControlName="last"
                          [showIcon]="true"></p-calendar>
            </div>
          </div>
        </div>
        <div class="form-group margin-top-sm">
          <button
            type="submit" class="btn btn-primary" [disabled]="form.invalid">Buscar
          </button>
        </div>
      </fieldset>
    </form>
    <div class="row ">
        <fieldset>
            <div class="col-md-12">
                <legend>Etiquetas</legend>
                <p-chart type="radar" [data]="dataTags"></p-chart>
            </div>
        </fieldset>
    </div>
  </div>
</ng-template>
