<div *ngIf="isLoading; else elseBlock">
  <div class="auth-loader-container">
    <app-loader></app-loader>
  </div>
</div>
<ng-template #elseBlock>
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal">
      <div formGroupName="userx">

        <div ngbDropdown class="form-group d-inline-block" [ngClass]="{'has-error': isRequired('password')}">
          <label for="password" class="col-lg-4 control-label">Contraseña Anterior</label>
          <div class="col-lg-8">
            <input id="password" type="password" formControlName="password" class="form-control">
            <span class="help-block" *ngIf="isRequired('password')">
                Contraseña Anterior requerida
              </span>
          </div>
        </div>

        <div ngbDropdown class="form-group d-inline-block" [ngClass]="{'has-error': isRequired('password1')}">
          <label for="password1" class="col-lg-4 control-label">Nueva Contraseña</label>
          <div class="col-lg-8">
            <input id="password1" type="password" formControlName="password1" class="form-control">
            <span class="help-block" *ngIf="isRequired('password1')">
                Nueva Contraseña requerida
              </span>
            <span class="help-block" *ngIf="form.get('userx.password1').hasError('minlength')">
                Logitud minima 5
              </span>

          </div>
        </div>

        <div ngbDropdown class="form-group d-inline-block" [ngClass]="{'has-error': isRequired('password2')}">
          <label for="password2" class="col-lg-4 control-label">Confirmación Nueva Contraseña</label>
          <div class="col-lg-8">
            <input id="password2" type="password" formControlName="password2" class="form-control">
            <span class="help-block" *ngIf="isRequired('password2')">
                Confirmación Nueva Contraseña requerida
              </span>
            <span class="help-block" *ngIf="form.get('userx.password2').hasError('minlength')">
                Logitud minima 5
              </span>
            <span class="help-block" *ngIf="form.get('userx.password1').value!=form.get('userx.password2').value">
                La nueva contraseña debe coincidir
              </span>
          </div>
        </div>

      </div>

      <div class="form-group margin-top-sm">
        <button
          type="submit" class="btn btn-primary" [disabled]="form.invalid">Guardar
        </button>
        <button routerLink="/private/games" class="btn btn-primary"
                title="Regresar">Regresar
        </button>
      </div>
      <!--<pre>
        {{ form.value | json }}
      </pre>-->
    </form>
  </div>
</ng-template>
