<div *ngIf="isLoading; else elseBlock">
  <div class="auth-loader-container">
    <app-loader></app-loader>
  </div>
</div>
<ng-template #elseBlock>
  <div class="container">
    <p-messages [(value)]="msgs"></p-messages>
    <div class="row ">
        <fieldset>
            <div class="col-md-12">
                <legend>Tickers</legend>
                <p-chart type="bar" [data]="dataTickers"></p-chart>
            </div>
        </fieldset>
    </div>
  </div>
</ng-template>                

