<div *ngIf="isLoading; else elseBlock">
  <div class="auth-loader-container">
    <app-loader></app-loader>
  </div>
</div>
<ng-template #elseBlock>
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal">
      <div formGroupName="games">
        <div class="row">
          <!-- Juegos -->
          <div class="col-md-3">

            <fieldset>
              <legend>Juego</legend>
              <div class="form-group" [ngClass]="{'has-error': isRequired('games.symbol')}">
                <label for="symbol" class="col-lg-4 control-label">Símbolo</label>
                <div class="col-lg-8">
                  <input id="symbol" formControlName="symbol" class="form-control">
                  <span class="help-block" *ngIf="isRequired('games.symbol')">
                      Símbolo requerido
                    </span>
                </div>
              </div>

              <div ngbDropdown class="form-group d-inline-block" [ngClass]="{'has-error': isRequired('games.type')}">
                <label for="type" class="col-lg-4 control-label">Tipo Entrada</label>
                <div class="col-lg-8">
                  <p-dropdown id="type" [options]="types" formControlName="type"></p-dropdown>
                  <span class="help-block" *ngIf="isRequired('games.type')">
                      Tipo Entrada requerido
                    </span>
                </div>
              </div>

              <div class="form-group" [ngClass]="{'has-error': isRequired('games.time_frame')}">
                <label for="time_frame" class="col-lg-4 control-label">Marco de Tiempo</label>
                <div class="col-lg-8">
                  <p-dropdown id="time_frame" [options]="timeFrames" formControlName="time_frame"></p-dropdown>
                  <span class="help-block" *ngIf="isRequired('games.time_frame')">
                      Marco de Tiempo requerido
                    </span>
                </div>
              </div>

              <div class="form-group" [ngClass]="{'has-error': isRequired('games.strategy')}">
                <label for="strategy" class="col-lg-4 control-label">Estrategia</label>
                <div class="col-lg-8">
                  <p-dropdown id="strategy" [options]="strategies" formControlName="strategy"></p-dropdown>
                  <span class="help-block" *ngIf="isRequired('games.strategy')">
                      Estrategia Requerida
                    </span>
                </div>
              </div>

              <div class="form-group" [ngClass]="{'has-error': isRequired('games.source')}">
                <label for="source" class="col-lg-4 control-label">Fuente del Juego</label>
                <div class="col-lg-8">
                  <p-dropdown id="source" [options]="sources" formControlName="source"></p-dropdown>
                  <span class="help-block" *ngIf="isRequired('games.source')">
                      Fuente Requerida
                    </span>
                </div>
              </div>

            </fieldset>

          </div>
          <!-- Entradas -->
          <div class="col-md-3">

            <fieldset>
              <legend>Entradas</legend>
              <div formArrayName="entries">
                <div *ngFor="let emp of entriesFormArray.controls; let i=index"
                     [formGroupName]="i">
                  <button type="button" (click)="removeEntry(i)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                  <div class="form-group" [ngClass]="{'has-error': isRequired('games.entries.'+i+'.date')}">
                    <label for="date_in" class="col-lg-4 control-label">Fecha</label>
                    <div class="col-lg-8">
                      <p-calendar id="date_in" name="date" required formControlName="date" hourFormat="12"></p-calendar>
                      <span class="help-block" *ngIf="isRequired('games.entries.'+i+'.date')">
                      Fecha requerida
                  </span>
                    </div>
                  </div>

                  <div class="form-group" [ngClass]="{'has-error': isRequired('games.entries.'+i+'.time')}">
                    <label for="time_in" class="col-lg-4 control-label">Hora</label>
                    <div class="col-lg-8">
                      <p-calendar id="time_in" name="time" required formControlName="time"
                                  [timeOnly]="true"></p-calendar>
                      <span class="help-block" *ngIf="isRequired('games.entries.'+i+'.time')">
                    Hora requerida
                </span>
                    </div>
                  </div>

                  <div class="form-group" [ngClass]="{'has-error': isRequired('games.entries.'+i+'.quantity')}">
                    <label for="quantity" class="col-lg-4 control-label">Cantidad</label>
                    <div class="col-lg-8">
                      <input type="number" id="quantity" name="quantity" required formControlName="quantity"
                             class="form-control">
                      <span class="help-block" *ngIf="isRequired('games.entries.'+i+'.quantity')">
                    Cantidad requerida
                </span>
                    </div>
                  </div>

                  <div class="form-group" [ngClass]="{'has-error': isRequired('games.entries.'+i+'.price')}">
                    <label for="price_in" class="col-lg-4 control-label">Precio</label>
                    <div class="col-lg-8">
                      <input id="price_in" type="number" required name="price" min="0.00" step="0.01"
                             formControlName="price" class="form-control">
                      <span class="help-block" *ngIf="isRequired('games.entries.'+i+'.price')">
                    Precio requerido
                </span>
                    </div>

                  </div>

                  <div class="form-group" [ngClass]="{'has-error': isRequired('games.entries.'+i+'.stopLoss')}">
                    <label for="stopLoss" class="col-lg-4 control-label">Stop Loss</label>
                    <div class="col-lg-8">
                      <input id="stopLoss" type="number" required name="stopLoss" min="0.00" step="0.01"
                             formControlName="stopLoss" class="form-control">
                      <span class="help-block" *ngIf="isRequired('games.entries.'+i+'.stopLoss')">
                        Stop requerido
                    </span>
                    </div>

                  </div>
                </div>
              </div>
              <button type="button" (click)="addEntry()">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </fieldset>

          </div>
          <!-- Salidas -->
          <div class="col-md-3">

            <fieldset>
              <legend>Salidas</legend>
              <div formArrayName="exits">
                <div *ngFor="let emp of exitsFormArray.controls; let i=index"
                     [formGroupName]="i">
                  <button type="button" (click)="removeExit(i)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                  <div class="form-group" [ngClass]="{'has-error': isRequired('games.exits.'+i+'.date')}">
                    <label for="date_in" class="col-lg-4 control-label">Fecha</label>
                    <div class="col-lg-8">
                      <p-calendar id="date_in" name="date" formControlName="date" hourFormat="12"></p-calendar>
                      <span class="help-block" *ngIf="isRequired('games.exits.'+i+'.date')">
                      Fecha requerida
                  </span>
                    </div>
                  </div>

                  <div class="form-group" [ngClass]="{'has-error': isRequired('games.exits.'+i+'.time')}">
                    <label for="time_in" class="col-lg-4 control-label">Hora</label>
                    <div class="col-lg-8">
                      <p-calendar id="time_in" name="time" formControlName="time"
                                  [timeOnly]="true"></p-calendar>
                      <span class="help-block" *ngIf="isRequired('games.exits.'+i+'.time')">
                    Hora requerida
                </span>
                    </div>
                  </div>

                  <div class="form-group" [ngClass]="{'has-error': isRequired('games.exits.'+i+'.quantity')}">
                    <label for="quantity" class="col-lg-4 control-label">Cantidad</label>
                    <div class="col-lg-8">
                      <input type="number" id="quantity" name="quantity" formControlName="quantity"
                             class="form-control">
                      <span class="help-block" *ngIf="isRequired('games.exits.'+i+'.quantity')">
                    Cantidad requerida
                </span>
                    </div>
                  </div>

                  <div class="form-group" [ngClass]="{'has-error': isRequired('games.exits.'+i+'.price')}">
                    <label for="price_in" class="col-lg-4 control-label">Precio</label>
                    <div class="col-lg-8">
                      <input id="price_in" type="number" name="price" min="0.00" step="0.01"
                             formControlName="price" class="form-control">
                      <span class="help-block" *ngIf="isRequired('games.exits.'+i+'.price')">
                    Precio requerido
                </span>
                    </div>

                  </div>
                </div>
              </div>
              <button type="button" (click)="addExit()">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>

            </fieldset>

          </div>
          <!-- Etiquetas -->
          <div class="col-md-3">
            <div [formGroup]="form">
              <div formGroupName="games">
                <fieldset>
                  <legend>Etiquetas</legend>

                  <div class="form-group">
                    <label for="tags" class="col-lg-4 control-label">Etiquetas</label>
                    <div class="col-lg-8">
                      <p-listbox [options]="tags" formControlName="tags" multiple="multiple" checkbox="checkbox"></p-listbox>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="comments" class="col-lg-4 control-label">Notas</label>
                    <div class="col-lg-8">
                      <textarea rows="3" id="comments" formControlName="comments" class="form-control"></textarea>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="chart" class="col-lg-4 control-label">Gráfico</label>
                    <div class="col-lg-8">
                      <input id="chart" formControlName="chart" class="form-control">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="followed" class="col-lg-4 control-label">Continuó</label>
                    <div class="col-lg-8">
                      <p-dropdown id="followed" [options]="followed" formControlName="followed"></p-dropdown>
                    </div>

                  </div>

                  <div class="form-group" [hidden]="form.value.games.followed=='NO'">
                    <label for="maxMove" class="col-lg-4 control-label">Max Movimiento</label>
                    <div class="col-lg-8">
                      <input id="maxMove" formControlName="maxMove" class="form-control">
                    </div>

                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!--Gastos-->
          <div class="col-md-3">
            <fieldset>
              <legend>Costos</legend>
              <div class="form-group" [ngClass]="{'has-error': isRequired('games.commission')}">
                <label for="commission" class="col-lg-4 control-label">Comisión</label>
                <div class="col-lg-8">
                  <input id="commission" type="number" step="0000.01" formControlName="commission"
                          class="form-control">
                  <span class="help-block" *ngIf="isRequired('games.commission')">
                  Comisión requerida
                </span>
                </div>

              </div>
            </fieldset>
          </div>
          <!--Resumen-->
          <div class="col-md-3">
            <fieldset>
              <legend>Resumen</legend>
              <div class="card text-white bg-primary">
                <div class="card-body">
                  <blockquote class="card-blockquote">
                    <p>Riesgo: {{form.get('games.r').value}}</p>  
                    <p>Neto: {{form.get('games.neto').value}}</p>
                    <p>NetoCmm: {{form.get('games.netoCmm').value}} </p>
                    <p>R: {{form.get('games.netoR').value}}</p>
                    <p>% Capturado: {{form.get('games.percentCaptured').value}}</p>
                  </blockquote>
                </div>
              </div>

            </fieldset>
          </div>
        </div>

        <div class="row">

        </div>
      </div>
      <div class="form-group margin-top-sm">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Guardar
          <div *ngIf="form.invalid;then loadResumen()">
          </div>  
        </button>
        <button routerLink="/private/games" class="btn btn-primary" title="Regresar">Regresar
        </button>
      </div>
      <pre>
        {{ form.value | json }}
      </pre>
    </form>

  </div>
</ng-template>
