<div *ngIf="isLoading; else elseBlock">
  <div class="auth-loader-container">
    <app-loader></app-loader>
  </div>
</div>
<ng-template #elseBlock>
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal">
        <div formGroupName="strategy">

          <div ngbDropdown class="form-group d-inline-block" [ngClass]="{'has-error': isRequired('strategy')}">
            <label for="strategy" class="col-lg-4 control-label">Tipo Entrada</label>
            <div class="col-lg-8">
              <input id="strategy" formControlName="strategy" class="form-control">
              <span class="help-block" *ngIf="isRequired('strategy')">
                Estrategia requerida
              </span>
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error': isRequired('description')}">
            <label for="description" class="col-lg-4 control-label">Descripción</label>
            <div class="col-lg-8">
                <textarea rows="3" id="description" formControlName="description" class="form-control"></textarea>
                <span class="help-block" *ngIf="isRequired('description')">
                  Descripción requerida
              </span>
            </div>
          </div>
        </div>

        <div class="form-group margin-top-sm">
          <button
            type="submit" class="btn btn-primary" [disabled]="form.invalid">Guardar
          </button>
          <button routerLink="/private/strategies" class="btn btn-primary"
                  title="Regresar">Regresar
          </button>
        </div>
        <!--<pre>
          {{ form.value | json }}
        </pre>-->
    </form>
  </div>
</ng-template>
