<div *ngIf="isLoading; else elseBlock">
  <div class="auth-loader-container">
    <app-loader></app-loader>
  </div>
</div>
<ng-template #elseBlock>
  <div class="container">
    <div class="row ">
        <fieldset>
            <div class="col-md-4">
                <legend>Resumen</legend>
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="badge">{{overview.numberTrades | number}}</span>
                    Numero de Trades
                    <br/>
                    <span class="badge">{{overview.numberTradesDay }}</span>
                    Numero de Trades por dia
                  </li>
                  <li class="list-group-item">
                    <span class="badge">$ {{overview.profit | number}}</span>
                    Beneficio Bruto
                    <br/>
                    <span class="badge">$ {{overview.commission | number}}</span>
                    Comisiones
                    <br/>
                    <span class="badge">$ {{overview.neto | number}}</span>
                    Beneficio Neto
                    <br/>
                  </li>
                  <li class="list-group-item">
                    <span class="badge">{{overview.netoR | number}}</span>
                    Neto Beneficio R
                    <br/>
                    <span class="badge">$ {{overview.risk | number}}</span>
                    Total Riesgo
                    <br/>
                    <span class="badge">$ {{overview.averageR | number}}</span>
                    Porcentaje Riesgo por Trade
                    <br/>
                  </li>
                  <li class="list-group-item">
                    <span class="badge">{{overview.battingAverage | number}} %</span>
                    Efectividad
                    <br/>
                    <span class="badge">{{overview.sharpeRatio | number}}</span>
                    Promedio de Bateo
                    <br/>
                  </li>
                </ul>
                <!--<hr/>-->
            </div>
            <div class="col-md-8 well">
                <p-chart type="line" [data]="dataOverviewR"></p-chart>
            </div>
        </fieldset>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8 well">
        <p-chart type="line" [data]="dataOverviewPL"></p-chart>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <legend>Ganadores</legend>
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">{{winnersLosers.numberTradesW | number}}</span>
            Numero de Trades Ganados
            <br/>
            <span class="badge">$ {{winnersLosers.brutoWinPL | number}}</span>
            Bruto Ganado
            <br/>
            <span class="badge">$ {{winnersLosers.netoWinPL | number}}</span>
            Neto Ganado
            <br/>
            <span class="badge">$ {{winnersLosers.averageWinPL | number}}</span>
            Promedio Ganado
            <br/>
            <span class="badge">{{winnersLosers.netoWinR | number}}</span>
            Neto Ganado R
            <br/>
            <span class="badge">{{winnersLosers.averageWinR | number}}</span>
            Promedio Ganado R
            <br/>
            <span class="badge">$ {{winnersLosers.commissionsW | number}}</span>
            Comisión
        </li>
          <legend>Perdedores</legend>
          <li class="list-group-item">
            <span class="badge">{{winnersLosers.numberTradesL | number}}</span>
            Numero de Trades Perdidos
            <br/>
            <span class="badge">$ {{winnersLosers.brutoLostPL | number}}</span>
            Bruto Perdido
            <br/>
            <span class="badge">$ {{winnersLosers.netoLostPL | number}}</span>
            Neto Perdido
            <br/>
            <span class="badge">$ {{winnersLosers.averageLostPL | number}}</span>
            Promedio Perdido
            <br/>
            <span class="badge">{{winnersLosers.netoLostR | number}}</span>
            Neto Perdido R
            <br/>
            <span class="badge">{{winnersLosers.averageLostR | number}}</span>
            Promedio Perdido R
            <br/>
            <span class="badge">$ {{winnersLosers.commissionsL | number}}</span>
            Comisión
          </li>
          <legend>Break Even</legend>
          <li class="list-group-item">
            <span class="badge">$ {{winnersLosers.commissionsB | number}}</span>
            Comisión
          </li>
        </ul>

      </div>
      <div class="col-md-8 well">
        <p-chart type="doughnut" [data]="dataWinnersLosers"></p-chart>
      </div>
    </div>
  </div>


</ng-template>
