<h2>Analisis de Estrategias</h2>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal">
    <fieldset>
      <div formGroupName="find">
        <div class="form-group" [ngClass]="{'has-error': isRequired('date_in')}">
          <label for="date_in" class="control-label">Fecha Inicio</label>
          <div >
            <p-calendar id="date_in" formControlName="date_in"
            [showIcon]="true"></p-calendar>
            <span class="help-block" *ngIf="isRequired('date_in')">
              Fecha entrada requerida
            </span>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': isRequired('date_out')}">
          <label for="date_out" class="control-label">Fecha Final</label>
          <!-- <input id="date_out" formControlName="date_out" class="form-control"> -->
          <div>
              <p-calendar id="date_out" formControlName="date_out"
              [showIcon]="true"></p-calendar>
              <span class="help-block" *ngIf="isRequired('date_out')">
                Fecha Salida requerido
              </span>
          </div>
        </div>
      </div>
      <div class="form-group margin-top-sm">
        <button
          type="submit" class="btn btn-primary" [disabled]="form.invalid">Buscar
        </button>
        <button routerLink="/private/strategies" class="btn btn-primary"
                title="Regresar">Regresar
        </button>
      </div>
    </fieldset>
  </form>
</div>

<div [hidden]="isLoading">
  <table class="table table-striped table-hover table-bordered" >
    <thead class="thead-dark">
    <tr>
      <th>Bruto</th>
      <th>Comisiones</th>
      <th>Total</th>
      <th>Break even</th>
      <th>Positive</th>
      <th>Negative</th>
      <th>Total operaciones</th>
      <th>Efectividad</th>
      <th>Sharp Ratio</th>
      <th>R</th>
      <th>Total Rs</th>
    </tr>
    </thead>
    <tbody>
    <tr class="success">
      <td>{{gameAnalysis.bruto}}</td>
      <td>{{gameAnalysis.comisiones}}</td>
      <td>{{gameAnalysis.total}}</td>
      <td>{{gameAnalysis.breakeven}}</td>
      <td>{{gameAnalysis.positive}}</td>
      <td>{{gameAnalysis.negative}}</td>
      <td>{{gameAnalysis.totalOperaciones}}</td>
      <td>{{gameAnalysis.efectividad}}</td>
      <td>{{gameAnalysis.sharpRatio}}</td>
      <td>{{gameAnalysis.r}}</td>
      <td>{{gameAnalysis.cantidadR}}</td>
    </tr>
    </tbody>
  </table>

  <p-chart type="bar" [data]="data" ></p-chart>
</div>



