<div *ngIf="isLoading; else elseBlock">
  <div class="auth-loader-container">
    <app-loader></app-loader>
  </div>
</div>
<ng-template #elseBlock>
  <div class="container">
    <!--<app-filter></app-filter>-->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal">
      <fieldset>
        <div formGroupName="find">
          <div class="form-group">
            <label for="date_in" class="control-label">Fecha Inicio</label>
            <div >
              <p-calendar id="date_in" formControlName="initial"
                          [showIcon]="true"></p-calendar>
            </div>
          </div>

          <div class="form-group">
            <label for="date_out" class="control-label">Fecha Final</label>
            <div>
              <p-calendar id="date_out" formControlName="last"
                          [showIcon]="true"></p-calendar>
            </div>
          </div>
        </div>
        <div class="form-group margin-top-sm">
          <button
            type="submit" class="btn btn-primary" [disabled]="form.invalid">Buscar
          </button>
        </div>
      </fieldset>
    </form>
    <div class="row well">
        <fieldset>
            <legend>Dirección</legend>
            <div class="col-md-4">
                <legend>Cantidad</legend>
                <p-chart type="pie" [data]="dataDirection"></p-chart>
            </div>
            <div class="col-md-4">
                <legend>R</legend>
                <p-chart type="bar" [data]="dataDirectionR"></p-chart>
            </div>
            <div class="col-md-4">
                <legend>$</legend>
                <p-chart type="bar" [data]="dataDirectionPL"></p-chart>
            </div>
        </fieldset>
    </div>
    <div class="row well">
        <fieldset>
            <legend>Dia de la Semana</legend>
            <div class="col-md-6">
                <legend>R</legend>
                <p-chart type="bar" [data]="dataDayWeekR"></p-chart>
            </div>
            <div class="col-md-6">
                <legend>$</legend>
                <p-chart type="bar" [data]="dataDayWeekPL"></p-chart>
            </div>
        </fieldset>
    </div>
    <!-- <div class="row">
        <fieldset>
            <legend>Primer Entrada del Dia</legend>
            <div class="col-md-6">
                <legend>R</legend>
                <p-chart type="bar" [data]="dataTimeFrameR"></p-chart>
            </div>
           <div class="col-md-6">
                <legend>$</legend>
                <p-chart type="bar" [data]="dataTimeFramePL"></p-chart>
            </div>
        </fieldset>
    </div> -->
    <div class="row well">
        <fieldset>
            <legend>Marco de Tiempo</legend>
            <div class="col-md-6">
                <legend>R</legend>
                <p-chart type="bar" [data]="dataTimeFrameR"></p-chart>
            </div>
           <div class="col-md-6">
                <legend>$</legend>
                <p-chart type="bar" [data]="dataTimeFramePL"></p-chart>
            </div>
        </fieldset>
    </div>
    <div class="row well">
      <fieldset>
        <legend>Fases del Mercado</legend>
        <div class="col-md-6">
          <legend>R</legend>
          <p-chart type="bar" [data]="dataMarketPhasesR"></p-chart>
        </div>
        <div class="col-md-6">
          <legend>$</legend>
          <p-chart type="bar" [data]="dataMarketPhasesPL"></p-chart>
        </div>
      </fieldset>
    </div>
    <div class="row well">
        <fieldset>
            <legend>Estrategia</legend>
            <div class="col-md-6">
                    <legend>R</legend>
                    <p-chart type="bar" [data]="dataStrategyR"></p-chart>
                </div>
               <div class="col-md-6">
                    <legend>$</legend>
                    <p-chart type="bar" [data]="dataStrategyPL"></p-chart>
                </div>
        </fieldset>
    </div>
    <div class="row well">
        <fieldset>
            <legend>Fuente</legend>
            <div class="col-md-6">
                    <legend>R</legend>
                    <p-chart type="bar" [data]="dataSourceR"></p-chart>
                </div>
               <div class="col-md-6">
                    <legend>$</legend>
                    <p-chart type="bar" [data]="dataSourcePL"></p-chart>
                </div>
        </fieldset>
    </div>
  </div>


</ng-template>
